:root{
    --color-primary:#3f51b5;
    --color-golden:#FFD700;
    --sidebar-color:#2D2D2D;
    --selected-color:#202020;
    --sidebar-width:4rem;
    --sidebar-active-width:220px;
    --font-color:#D0D0D0;
    --hover-color:#ffffff1e;
    --slide-time:500ms;
    --sidebar-font-size:16px;
    --divider-color:#d1d1d1;
    --note-list-width:320px;
}

html{
    font-size: 16px !important;
    background: #f5f5f5;
}


[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    display: block;
    border-radius: .3rem;
    border: 1px solid #d0d0d0;
    padding: 0.3rem 0.75rem;
    outline: 0;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
}